<div id="settings_plugin_curaX_brands_interface">

	<h3>{{ _('Filament Profile Editor') }}</h3>

	<div id="editor_messages">
		<div id="editor_success_msg" class="alert alert-success hidden"></div>
		<div id="editor_error_msg" class="alert alert-error hidden"></div>
	</div>
	<div class="panel_accordion" data-toggle="collapse" >
		<span class="lbl" data-toggle="collapse" data-bind="click: requestData">{{ _('Materials') }}</span>
		<span class="sign" data-toggle="collapse" ><i class="icon-chevron-down"></i></span>
		<span class="sign" title="{{ _('New Material') }}" data-toggle="tooltip"
			data-bind="click: function() { $root.createNewMaterial(); }">
			<i class="icon-plus-sign-alt"></i>
		</span>
	</div>
	<div class="sub-control collapse in" id="material_tab">
		<div data-bind="foreach: brands.paginatedItems">
			<div class="sub_panel_accordion" data-toggle="collapse"
				 data-bind="attr: {'data-target': '#row' + $index()}">
				<span class="sign" data-toggle="collapse" data-bind="attr: {'data-target': '#row' + $index()}">
					<i class="icon-chevron-down"></i>
				</span>
				<span class="lbl_two" data-toggle="collapse"
					  data-bind="text: key,attr: {'data-target': '#row' + $index()}">
				</span>
			</div>
			<div data-bind="attr: {id: 'row' + $index()}" class="collapse">
				<div data-bind="foreach: $parent.materials.paginatedItems">
					<div data-bind="if: $data.brand() == $parent.key">
						<div class="material_panel_accordion">
							<a href="#">
								<span class="lbl_mat" style="text-transform: uppercase;"
								  data-bind="text:key, enable: !isdefault(), css: {disabled: isdefault()},
								  click: function() { if (!$data.isdefault()) { $root.getProfilesInheritsMaterials($data , $parent); } }">
								</span>
							</a>
							<!--<a class="sign" title="{{ _('Delete') }}" data-toggle="tooltip"-->
								  <!--data-bind="enable: !isdefault(), css: {disabled: isdefault()},-->
								  <!--click: function() { if (!$data.isdefault()) { $root.removeMaterial($data); } }">-->
								  <!--<i class="icon-trash"></i>-->
							<!--</a>-->
							<a class="sign" title="{{ _('Edit') }}" data-toggle="tooltip"
								  data-bind="enable: !isdefault(), css: {disabled: isdefault()},
								  click: function() { if (!$data.isdefault()) { $root.editMaterial($data); } }">
								  <i class="icon-edit"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="panel_accordion" data-toggle="collapse" >
			<span class="lbl" data-toggle="collapse">{{ _('Profiles') }}:</span>
			<span class="lbl" id="_profiles_tab_indicator_"></span>
			<span class="sign" data-toggle="collapse"><i class="icon-chevron-down"></i></span>
			<span class="sign" title="{{ _('Create Profile') }}" data-toggle="tooltip"
				data-bind="click: function() { $root.createNewProfile(); }">
				<i class="icon-plus-sign-alt"></i>
			</span>
		</div>
		<div class="collapse" id="profiles_tab">
			<div data-bind="foreach: profiles.paginatedItems">
				<div class="sub_panel_accordion" >
					<a href="#"><span class="lbl" data-bind="text: key, click: function() { if (!$data.isdefault()) { $root.editProfile($data); } }"></span></a>
					<a class="sign" title="{{ _('Delete') }}" data-toggle="tooltip"
					   data-bind="enable: !isdefault(), css: {disabled: isdefault()}, click: function() { if (!$data.isdefault()) { $root.removeProfile($data); } }">
                        <i class="icon-trash"></i>
					</a>
					<a class="sign" title="{{ _('Copy') }}" data-toggle="tooltip"
					   data-bind="enable: !isdefault(), css: {disabled: isdefault()}, click: function() { if (!$data.isdefault()) { $root.duplicateProfileDefault($data); } }">
                        <i class="icon-copy"></i>
					</a>
					<a class="sign" title="{{ _('Edit') }}" data-toggle="tooltip"
					   data-bind="enable: !isdefault(), css: {disabled: isdefault()},click: function() { if (!$data.isdefault()) { $root.editProfile($data); } }">
                        <i class="icon-edit"></i>
					</a>
				</div>
			</div>
			<span id="profile_message" class="lbl" ></span>
		</div>
	</div>

	<div class="panel_accordion">
		<span class="lbl">{{ _('Information') }}:</span>
		<span class="lbl" id="_profiles_tab_infomation_indicator_"></span>
	</div>
	<div id="information_tab">
		<div>
			<table class="information_table">
				<tr class="table_line">
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
					<td class="table_head">{{ _('Display Name') }}:</td>
					<td class="table_data" id="_information_display_name"></td>
					<td class="table_head">{{ _('Default Print Temperature') }}:</td>
					<td class="table_data" id="_information_default_material_print_temperature"></td>
				</tr>
				<tr>
					<td> </td>
					<td class="table_head">{{ _('Brand') }}:</td>
					<td class="table_data" id="_information_brand"></td>
					<td class="table_head">{{ _('Infill Speed') }}:</td>
					<td class="table_data" id="_information_speed_infill"></td>
				</tr>
				<tr>
					<td> </td>
					<td class="table_head">{{ _('Material') }}:</td>
					<td class="table_data" id="_information_material"></td>
					<td class="table_head">{{ _('Outer Wall Speed') }}:</td>
					<td class="table_data" id="_information_speed_wall_0"></td>
				</tr>
				<tr>
					<td> </td>
					<td class="table_head">{{ _('Filament Cost') }}:</td>
					<td class="table_data" id="_information_filament_cost"></td>
					<td class="table_head">{{ _('Inner Wall Speed') }}:</td>
					<td class="table_data" id="_information_speed_wall_x"></td>
				</tr>
				<tr>
					<td> </td>
					<td class="table_head">{{ _('Filament Weight') }}:</td>
					<td class="table_data" id="_information_filament_weight"></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>


<div id="settings_plugin_curaX_new_material" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<span class="signa" id="material_modal_label"></span>
		<span class="signa" id="material_modal_edition"></span>
	</div>
	<div class="modal-body parent">
		<form class="form-inline">
			<div class="panel_input" data-toggle="collapse" data-target="#information_panel">
				<span class="lbl"  >{{ _('Information') }}</span>
				<span class="sign" ><i class="icon-chevron-down"></i></span>
			</div>
			<div class="panel-collapse collapse in" id="information_panel">
				<div class="form-group">
					<label class="sign" for="display_name">{{ _('Display Name') }}</label>
					<input id="display_name" class="inpt form-control" type="text"/>
				</div>
				<div class="form-group">
					<label class="sign" for="brand">{{ _('Brand') }}</label>
					<input id="brand" class="inpt form-control" type="text" />
				</div>
				<div class="form-group">
					<label class="sign" for="material_type">{{ _('Material') }}</label>
					<input id="material_type" class="inpt form-control" type="text" />
				</div>
				<div class="form-group">
					<label class="sign" for="filament_cost">{{ _('Filament Cost') }}</label>
					<input id="filament_cost" class="inpt form-control" type="number"/>
					<span class="unit">&euro;</span>
				</div>
				<div class="form-group">
					<label class="sign" for="filament_weight">{{ _('Filament Weight') }}</label>
					<input id="filament_weight" class="inpt form-control" type="number"/>
					<span class="unit">g</span>
				</div>
			</div>

			<div class="panel_input" data-toggle="collapse" data-target="#print_settings_panel">
				<span class="lbl" data-toggle="collapse" >{{ _('Print Settings') }}</span>
				<span class="sign" data-toggle="collapse" ><i class="icon-chevron-down"></i></span>
			</div>
			<div class="panel-collapse collapse in" id="print_settings_panel">
				<div class="form-group">
					<label class="sign" for="default_material_print_temperature">{{ _('Default Print Temperature') }}</label>
					<input id="default_material_print_temperature" class="inpt form-control" type="number"/>
					<span class="unit">ºC</span>
				</div>
				<div class="form-group">
					<label class="sign" for="speed_infill">{{ _('Infill Speed') }}</label>
					<input id="speed_infill" class="inpt form-control" type="number"/>
					<span class="unit">mm/s</span>
				</div>
				<div class="form-group">
					<label class="sign" for="speed_wall_0">{{ _('Outer Wall Speed') }}</label>
					<input id="speed_wall_0" class="inpt form-control" type="number"/>
					<span class="unit">mm/s</span>
				</div>
				<div class="form-group">
					<label class="sign" for="speed_wall_x">{{ _('Inner Wall Speed') }}</label>
					<input id="speed_wall_x" class="inpt form-control" type="number"/>
					<span class="unit">mm/s</span>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Abort') }}</button>
		<button class="btn btn-primary green" id="settings-cura2-new-edit"
				data-bind="click: function() { $root.saveMaterial($data); }">{{ _('Confirm') }}
		</button>
	</div>
</div>


<div id="settings_plugin_curaX_new_profile" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<span class="signa">{{ _('NEW PROFILE') }}</span>
	</div>
	<div class="modal-body parent">
		<form class="form-inline">
			<div>
				<div>
					<label for="_profile_name_new_profile_" class="lbl">{{ _('Profile Name') }}:</label>
					<input id="_profile_name_new_profile_" class="inpt" />
				</div>
				<br />
				<div>
					<label for="_profile_Quality_new_profile_" class="lbl">{{ _('Quality Name') }}:</label>
					<input id="_profile_Quality_new_profile_" class="inpt" />
				</div>
			</div>
			<div class="panel-group" id="newProfile_panel">
				<div class="panel_collapse panel-default">

				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Abort') }}</button>
		<button class="btn btn-primary green" data-bind="click: function() { $root.saveRawProfile(); }">{{ _('Confirm') }}
		</button>
	</div>
</div>


<div id="settings_plugin_curaX_new_profile_message" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<span class="signa">{{ _('No material selected.') }}</span>
	</div>
	<div class="modal-body parent">
		<form class="form-horizontal">
			<div class="panel-group" id="edit_panel">
				<div class="panel_collapse panel-default">

				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default green" data-dismiss="modal">{{ _('Abort') }}</button>
	</div>
</div>


<div id="settings_plugin_curaX_change_name" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<span class="signa" id="profileQualityHeader"></span>
	</div>
	<div class="modal-body parent">
		<form class="form-horizontal">
			<div class="panel-group">
				<div class="panel_collapse panel-default">
					<label for="_new_quality_name" class="sign">{{ _('Name') }}:</label>
					<input id="_new_quality_name" class="inpt" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default green" data-dismiss="modal" aria-hidden="true">{{ _('Abort') }}</button>
		<button class="btn btn-primary green" data-bind="click: function() { $root.changeQualityProfileName(); }">{{
			_('Confirm') }}
		</button>
	</div>
</div>


<div id="settings_plugin_curaX_edit_profile" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
		<span class="signa">{{ _('Edit Profile') }}:</span>
		<span class="signa" id="profileDisplay"></span>

	</div>
	<div class="modal-body parent">
		<form class="form-inline">
			<div class="panel_collapse panel-default">
				<div class="">
					<span class="lbl">{{ _('Profile') }}:</span>
					<select class="form-control" id="quality_droplist"></select>

					<span class="sign" data-bind="click: function() {$root.NewQuality();}">
					<i class="icon-plus-sign-alt"></i></span>
					<span class="sign" data-bind="click: function() {$root.NewQualityCopy();}">
					<i class="icon-copy"></i></span>
					<span class="sign" data-bind="click: function() {$root.NewQualityName();}">
					<i class="icon-edit"></i></span>
					<span class="sign" data-bind="click: function() {$root.removeQualityInProfile();}">
					<i class="icon-trash"></i></span>
				</div>
			</div>
			<br />
			<div class="panel-group" id="edit_content">

			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">{{ _('Abort') }}</button>
		<button class="btn btn-primary green" data-bind="click: function() { $root.confirmProfileEdition(); }">{{
			_('Confirm') }}
		</button>
	</div>
</div>
