<div class="panel-group" id="advanced_edit_panel">
{#  <div class="panel_collapse panel-default" id="dynamic_quality_advanced_options">#}
{#         <span>Profile:</span>#}
{#         <select data-bind="options: qualityProfiles ,value: selQuality , valueAllowUnset: false, visible: estimationDialog(), event:{ change: $root.permissionChanged}"></select>#}
{#         <span class="sign" data-bind="click: function() {$root.saveProfileChanges();}"><i class = "icon-save"></i></span>#}
{##}
{#  </div>#}
  <div class="panel_collapse panel-default" id ="dynamic_advanced_options">
{#        add advanced options #}
  </div>
</div>


