<div id="maintenance_dialog" class="modal hide fade maintenance" tabindex="-1" role="dialog" aria-labelledby="maintenance_dialog_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-bind="visible: !printerState.isOperational()">&times;</button>
        <h3 id="maintenance_dialog_label"> <span class="m-icon maintenancegicon"></span>{{ _('Maintenance') }}
            <i class="icon-spinner icon-spin" data-bind="visible: receiving"></i>
        </h3>
    </div>
    <div class="modal-body" id="maintenance_modal_body">
        <div class="">
            <div id="maintenance_warning_box" class="hidden text-center alert alert-warning">
                <i class="icon-warning-sign"></i>
                <span id="maintenance_warning_text">{{ _('Moving...please wait') }}</span>
            </div>

            <div class="tabbable row-fluid">
                <div id="maintenanceList" class="operationsList full-sized-box">
                    <div class="modal-row">
                        <div class="span1 text-center">
                            <span class="icon filamentgicon"></span>
                        </div>
                        <div class="span4">
                            <h3>{{ _('Change filament') }}</h3>
                            <p>{{ _('This operation is needed when you want to print with a different color or when the filament available in the spool is not enough.')}}
                            </p>
                         </div>
                         <div class="span7 text-right">
                             <a href="https://beeverycreative.com/order-here/" class="btn btn-maintenance green" target="_blank" >{{ _('Buy filament') }}</a>
                             <button class="btn btn-maintenance yellow"
                                data-bind="click: showFilamentChange, enable: !printerState.isBusy() && !printerState.isErrorOrClosed()" >
                                 <span class="m-icon filamenticon"></span>{{ _('Change filament now') }}
                             </button>
                         </div>
                    </div>
                    <div class="modal-row">
                         <div class="span1 text-center">
                            <span class="icon calibrategicon"></span>
                         </div>
                         <div class="span4">
                             <h3>{{ _('Calibrate') }}</h3>
                             <p>{{ _('This operation is needed to ensure the quality of your 3D prints.')}}
                             </p>
                        </div>
                        <div class="span7 text-right">
                             <button class="btn btn-maintenance yellow"
                                data-bind="click: showCalibration, enable: !printerState.isBusy() && !printerState.isErrorOrClosed()" >
                                <span class="m-icon calibrateicon"></span>{{ _('Calibrate now') }}
                             </button>
                        </div>
                    </div>

                    <div class="modal-row">
                        <div class="span1 text-center">
                            <span class="icon extrudergicon"></span>
                        </div>
                        <div class="span4">
                            <h3>{{ _('Extruder Maintenance') }}</h3>
                            <p>{{ _('This operation enables you to unclog the nozzle using the Maintenance Kit.')}}
                            </p>
                        </div>
                        <div class="span7 text-right">
                            <button class="btn btn-maintenance yellow"
                                data-bind="click: showExtruderMaintenance, enable: !printerState.isBusy() && !printerState.isErrorOrClosed()">
                                <span class="m-icon extrudericon"></span>{{ _('Start extruder maintenance') }}
                            </button>
                        </div>
                    </div>

                    <div class="modal-row">
                        <div class="span1 text-center">
                            <span class="icon nozzlegicon"></span>
                        </div>
                         <div class="span4">
                             <h3>{{ _('Switch nozzle') }}</h3>
                             <p>{{ _('It is necessary to change the nozzle when it\'s clogged or if you need to print with a nozzle of a different diameter, ex: TPU-FLEX.')}}
                             </p>
                        </div>
                        <div class="span7 text-right">
                            <button class="btn btn-maintenance yellow"
                                data-bind="click: showReplaceNozzle, enable: !printerState.isBusy() && !printerState.isErrorOrClosed()">
                                <span class="m-icon nozzleicon"></span>{{ _('Switch nozzle now') }}
                            </button>
                        </div>
                    </div>
                </div>

                <div id="maintenance_dialog_content">
                    <div id="maintenance_changeFilament" class="hidden">
                        {% include 'dialogs/maintenance/change_filament.jinja2' ignore missing %}
                    </div>
                    <div id="maintenance_calibration" class="hidden">
                        {% include 'dialogs/maintenance/calibration.jinja2' ignore missing %}
                    </div>
                    <div id="maintenance_extruderMaintenance" class="hidden">
                        {% include 'dialogs/maintenance/extruder_maintenance.jinja2' ignore missing %}
                    </div>
                    <div id="maintenance_replaceNozzle" class="hidden">
                        {% include 'dialogs/maintenance/replace_nozzle.jinja2' ignore missing %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span2">
                <button id="cancelMaintenance" class="btn btn-block hidden" data-bind="click: cancelOperations">
                    {{ _('Cancel') }}
                </button>
            </div>
            <div class="span7"></div>
            <div class="span3">
                <button id="maintenanceCloseButton" class="btn btn-block" data-dismiss="modal" aria-hidden="true"
                    data-bind="click: cancelOperations, visible: !printerState.isBusy()">
                    <i class="icon-remove"></i> {{ _('Close') }}
                </button>
                <button id="maintenanceOkButton" class="btn btn-block btn-primary hidden" data-dismiss="modal"
                        aria-hidden="true" data-bind="click: finishOperations">
                        {{ _('OK') }}
                </button>
                <button id="maintenanceNextButton" class="btn btn-block yellow hidden"
                        aria-hidden="true" data-bind="click: nextOperations,  enable: nextButtonEnable()">
                        <i class="icon-arrow-right"></i> {{ _('Next') }}
                </button>
            </div>

        </div>
    </div>
</div>
