<div id="remote_printers_dialog" class="modal hide fade remote">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3><span class="m-icon printgicon"></span>{{ _('Available Printers') }}</h3>
    </div>
    <div class="control-group" id="remote-load-output" data-bind="visible: loadingPrinters() || remotePrintersReady()">
        <div class="span5 text-center">
            <p data-bind="visible: loadingPrinters()" >
                <span id="loading_printers_loader" class="icon-spinner icon-spin icon-3x" ></span><br />
                {{ _('Loading Printers, please wait...') }}
            </p>
        </div>

    </div>
    <div class="modal-body">
        <table id="remote_printers_table" align="center" class="remote-table">
            <!-- Table filled with remote data -->
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn modal-footer-btn" data-dismiss="modal" aria-hidden="true" data-bind="click: closeRemote">{{ _('Cancel') }}</a>
        <button id="remote_print_button" href="#" class="btn btn-primary modal-footer-btn"
            data-bind="click: $root.remotePrintClick(), enable: enableRemotePrintButton, css: {disabled: !$root.enableRemotePrintButton()}, attr: {title: $root.remorePrintButtonTooltip}">
            <span class="m-icon printwicon"></span>
            <span>{{ _('Print') }} </span>
            <i id="remote_print_button_loader" class="icon-spinner icon-spin" data-bind="visible: !remotePrintButtonControl()" ></i>
        </button>
    </div>
</div>
<script>
$('#slicing_form').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
        e.preventDefault();
        return false;
    }
});

$('#custom_density').on('click change keyup', function (e) {
    $('#density5').prop('checked', true);
})
</script>
