<div id="remote_printers_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3><span class="m-icon printgicon"></span>{{ _('Available Printers') }}</h3>
    </div>
    <div class="modal-body">
        <table id="remote_printers_table" align="center" class="remote-table">
            <!-- Table filled with remote data -->
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn modal-footer-btn" data-dismiss="modal" aria-hidden="true" data-bind="click: closeSlicing">{{ _('Cancel') }}</a>
    </div>
</div>
<script>
$('#slicing_form').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
        e.preventDefault();
        return false;
    }
});

$('#custom_density').on('click change keyup', function (e) {
    $('#density5').prop('checked', true);
})
</script>
