<div id="slicing_configuration_dialog" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3><span class="m-icon printgicon"></span>{{ _('Available Printers') }}</h3>
    </div>
    <div class="modal-body">
        <div data-bind="visible: !enableSlicingDialog()">
            <p>{{ _('Slicing is currently disabled since no slicer has been configured yet. Please configure a slicer under "Settings".') }}</p>
        </div>
        <div data-bind="visible: enableSlicingDialog()">
            <!--<p>{{ _('Please configure which slicer and which slicing profile to use and name the GCode file to slice to below, or click "Cancel" if you do not wish to slice the file now.') }}</p>-->
            <form id="slicing_form" class="form-horizontal">

                <table align="center" class="remote-table">
                    <!--
                    <tr class="remote-table-row" data-bind="click: getRemotePrinters">
                        <td width="5%"></td>
                        <td colspan="2">
                            <img src="{{ url_for('static', filename='img/logo_beethefirstplus.png') }}" width="100%" />
                        </td>
                        <td colspan="4">
                            <div class="progress remote-print-progress" style="text-align: center">
                                <div class="bar heating-remote-bar" style="width: 60%">Heating 60%</div>
                            </div>
                        </td>
                        <td colspan="1" style="text-align: center">PLA</td>
                        <td colspan="1">
                            <div class="progress remote-color" style="text-align: center">
                                <div class="bar" style="width: 100%;background-color: #0aaaf1 !important;"></div>
                            </div>
                        </td>
                        <td width="5%"></td>
                    </tr>
                    <tr class="remote-table-row">
                        <td width="5%"></td>
                        <td colspan="2">
                            <img src="{{ url_for('static', filename='img/logo_beethefirstplus.png') }}" width="100%" />
                        </td>
                        <td colspan="4">
                            <div class="progress remote-print-progress">
                                <div class="bar ready-remote-bar" style="width: 100%">READY</div>
                            </div>
                        </td>
                        <td colspan="1" style="text-align: center">PETG</td>
                        <td colspan="1" >
                            <div class="progress remote-color" style="text-align: center">
                                <div class="bar" style="width: 100%;background-color: snow !important;"></div>
                            </div>
                        </td>
                        <td width="5%"></td>
                    </tr>
                    <tr class="remote-table-row">
                        <td width="5%"></td>
                        <td colspan="2">
                            <img src="{{ url_for('static', filename='img/logo_beethefirstplus.png') }}" width="100%" />
                        </td>
                        <td colspan="4">
                            <div class="progress remote-print-progress">
                                <div class="bar printing-remote-bar" style="width: 35%">Printing 35%</div>
                            </div>
                        </td>
                        <td colspan="1" style="text-align: center">Nylon</td>
                        <td colspan="1" >
                            <div class="progress remote-color" style="text-align: center">
                                <div class="bar" style="width: 100%;background-color: red !important;"></div>
                            </div>
                        </td>
                        <td width="5%"></td>
                    </tr>
                    -->
                </table>

            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn modal-footer-btn" data-dismiss="modal" aria-hidden="true" data-bind="click: closeSlicing">{{ _('Cancel') }}</a>
    </div>
</div>
<script>
$('#slicing_form').on('keyup keypress', function(e) {
    var keyCode = e.keyCode || e.which;
    if (keyCode === 13) {
        e.preventDefault();
        return false;
    }
});

$('#custom_density').on('click change keyup', function (e) {
    $('#density5').prop('checked', true);
})
</script>
