<a id="navbar_show_maintenance" class="pull-right" href="#maintenance_dialog" data-bind="click: show" onclick="f_click()">
     <span class="m-icon maintenanceicon-xs"></span> {{ _('Maintenance') }}
</a>
