<a href="javascript:void(0)" title="{{ _('Help') }}" class="dropdown-toggle" data-toggle="dropdown"
data-bind="visible: system.systemActions().length > 0">
    <span class="m-icon helpicon"></span> {{ _('Help') }}
    <b class="caret"></b>
</a>
<ul class="dropdown-menu" >
    <li><a tabindex="-1" href="https://beeverycreative.com/faq/" target="_blank" id="faq_button">{{ _('FAQ') }}</a></li>
    <li><a href="https://beeverycreative.com/troubleshooting/" target="_blank" id="troubleshooting_button">{{ _('Troubleshooting') }}</a></li>
    <li><a href="#about_dialog" data-bind="click: function() { $root.showAboutBee(); }" id="about_button" >{{ _('About') }}</a></li>

    <li class="divider"></li>

    <!-- ko foreach: system.systemActions -->
    <li><a href="javascript:void(0)" data-bind="click: $root.system.triggerCommand, text: $data.name"></a></li>
    <!-- /ko -->

    <li><a href="javascript:void(0)" data-bind="click: $root.system.resetPrinterSettings">{{ _('Reset Printer Configurations') }}</a></li>
</ul>
